<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", initMap2);
</script>
<% end %>

<%= form_with(model: spot, local: true) do |form| %>
<% if spot.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

  <ul>
    <% spot.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :lat %>
  <%= form.text_field :lat %>
</div>

<div class="field">
  <%= form.label :lon %>
  <%= form.text_field :lon %>
</div>

<p>
  <div id="map2"></div>
</p>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
