<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>

    <script>
    var spots_list_raw = '<%= @spots.to_json.html_safe %>';
    document.addEventListener("DOMContentLoaded", function(){
        initBigMap()
    });
    </script>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class="subTitle">SK8 SpotZ</h1>
<p>
  <div class="basic_map" id="bigMap"></div>
</p>


<table>
  <thead>
    <tr>
      <th class="spotHead">Name</th>
      <th class="spotHead">Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td class="dTable"><%= spot.name %></td>
        <td class="dTable"><%= spot.spot_type %></td>
        <td class="dTable"><%= link_to 'Show', spot %></td>
        <td class="dTable"><%= link_to 'Edit', edit_spot_path(spot) %></td>
        <td class="dTable"><%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Spot', new_spot_path %>
