<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", function(){

    initMap(<%=@spot.lat%>, <%=@spot.lon%>)
  });
</script>
<% end %>



<p id="notice"><%= notice %></p>

<div class="photos">

<% if @spot.photos.attached? %>
<% @spot.photos.each do |photo| %>

    <span class="photo"><%= image_tag(photo)%></span>
  <% end %>
  <% else %>
  No photos for this spot.
<% end %>
</div>


<h1><%= @spot.name %></h1>

<strong>Current Weather Conditions:</strong>
<%= @response["weather"][0]["description"].titleize %>,
<% temp_c = (((@response["main"]["temp"] - 273.15) * (9/5)) + 32) %>
<%= temp_c.round %> °F
</p>

<p>
  <div class="basic_map" id="map"></div>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @spot.lat %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <strong>Longitude:</strong>
  <%= @spot.lon %>
</p>

<p>
  Average rating: <%= @avg_rating %>
</p>
<p>
  Median Heat: <%= @med_heat %>
</p>



<p>
  <strong>Spot Type</strong>
  <%= @spot.spot_type %>
</p>
<p>
  <strong>Features</strong>
  <%= @spot.features %>
</p>
<p>
  <strong>Description</strong>
  <%= @spot.description %>
</p>



<p>
  <%= link_to 'Edit', edit_spot_path(@spot) %>
  <%= link_to 'Add review', new_spot_review_path(@spot) %>
  <%= link_to 'Back', spots_path %>

  <% if @reviews.any? %>
  <h3>Reviews</h3>
  <ul>
    <% @reviews.each do |review| %>
    <li>
      <a href="/spots/<%= @spot.id %>/reviews/<%= review.id %>"><%= review.title %></a>
      <h5>Rating: <%= review.rating %></h5>
      <h5>Heat level: <%= review.heat_lvl %></h5>
      <p><%= review.content %></p>
    </li>
    <% end %>
  </ul>
  <% else %>
  <h3>No reviews!</h3>
  <% end %>
