<h1>Log in killa</h1>
<div class="logIn">

<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br><br>
  <button class="sButton" type="submit" name="button">Sign In</button>

<% end %>
