<h1>Log in</h1>
<div class="logIn">

<%= form_tag signin_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <br><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br><br>
  <%= submit_tag "Sign in" %>
<% end %>