<%= form_for [@spot, @review] do |f| %>
<%= f.hidden_field :user_id, :value => @user.id %>
<br>
<%= f.label "title" %>
<%= f.text_field :title %>
<br>
<%= f.label "Content" %>
<%= f.text_area :content %>
<br>
<%= f.label "Rating" %>
<%= f.text_area :rating %>
<br>
<%= f.label "Heat Level" %>
<%= f.text_area :heat_lvl %>
<hr>
<p><%= f.submit %></p>
<% end %>
