<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initBigMap()
  });
</script>
<% end %>


<p id="notice"><%= notice %></p>



<div class="row">
<div class="column-9 ">

  <p>
    <div id="bigMap"></div>
  </p>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Lat</th>
        <th>Lon</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
      <tr>
        <td><%= place.name %></td>
        <td><%= place.lat %></td>
        <td><%= place.lon %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Place', new_place_path %>
</div>
<div class="column-3">

</div>
</div>
