<% provide :head_tags do %>
<meta name='turbolinks-visit-control' content='reload'>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMap(<%=@place.lat%>, <%=@place.lon%>)
  });
</script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @place.lon %>
</p>

<p>
  <div id="map"></div>
</p>

<div id="weather">
    <h3> Weather Conditions:
      <%= @response["weather"][0]["main"] %>
      <%= @response["weather"][0]["description"] %>
      <% temp_c = (((@response["main"]["temp"] - 273.15) * (9/5)) + 32) %>
      <%= temp_c.round %> °F
      </h3>
</div>

<%= link_to 'Edit', edit_place_path(@place) %>
<%= link_to 'Back', places_path %>
