<!DOCTYPE html>
<html>
<head>
  <title >Railz</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application',
  'https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap',
  # 'https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker|Righteous|Shadows+Into+Light|Tajawal&display=swap',
  media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield(:head_tags) %>
</head>

<body>
  <!-- <p>
    <a href="/users/login">Login</a>
    <a href="/users/signup">Signup</a>
  </p> -->
  <a href="/spots">Home</a>

  <% if current_user %>
    <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
  <% else %>
    <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
  <% end %>

  <%= flash[:alert] %>
  <%= flash[:notice] %>

  <div class="titleBanner">
    <h1 id ="title">"Railz" <span id='tagLine'>skate or die</span> </h1>

  </div>
  <!-- <div class="login">
    <form action="/spots" method="post">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">password</label>
      <input type="text" name="password">
      <button type="submit" name="button">Submit</button>
    </form>
  </div> -->
  <div id="yield" class="container">
    <%= yield %>
  </div>
</body>
</html>
